// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

page-home{
    ion-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    ion-item{
        background-color: #ffffff !important;
    }

    ion-content > div {
        margin-top : 0 !important;
    }
    #caroussel{
        position : absolute;
        bottom : 0px;
        width : 100%;
        height : 25vh;
        z-index: 1000 !important;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: scroll;
        overflow-y: hidden;
        left : 0;

        ion-card{
            max-width: 270px;
            min-width: 270px;
            border-radius : 30px;
            position : relative;
            img{
                max-height: 70px;
                width : auto;
            }
        }
    }
    
}
ion-header{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    width: 70%;
    margin-left : 15%;
    align-items: center;
    padding : 0 10px 0 10px;
    border-radius : 30px;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;

    &:after{
        background-image: none !important;
    }
    button{
        background-color: #ffffff;
        
    }
}


ion-navbar{
    border-radius: 40px;
    width: 70% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toolbar-content, .toolbar-content-ios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.button-ios{
    background-color : rgba(0,0,0,0) !important;
    color : black;
}
.leaflet-top{
    top: none;
    bottom : 10px;
    
}

.my-div-icon{
    width : 110px !important;
    display: flex;
    flex-direction: column-reverse;
    img{
        width : 25%;
    }
    my-div-span{
        font-size : 15px;
    }
}